In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("CustomerTransactionsPipeline")
    .config("spark.sql.catalogImplementation", "hive")  # Enable Hive support
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse/mysqltopgsql")  # HDFS location
    .enableHiveSupport()
    .getOrCreate()
)

spark

In [104]:
mysql_props = {
    "user": "root",
    "password": "Root",
    "driver": "com.mysql.cj.jdbc.Driver"
}

try:
    df_mysql = spark.read.jdbc(
        url="jdbc:mysql://localhost:3306/customer",
        table="customers_transaction",
        properties=mysql_props
    )
    print("Connection successful. Rows fetched:", df_mysql.count())
except Exception as e:
    print("Connection failed:", str(e))

Connection successful. Rows fetched: 50

In [105]:
df_mysql.write.mode("overwrite").parquet("hdfs:///data/landing/customers_transaction_raw")

In [106]:
df_mysql.show(10)

+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
|CustomerID|        Name|               Email|TransactionDate| Amount|Currency|     Location|            Address|ProductID|  Remarks|
+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
|      1001|    JOHN DOE|    john.doe@xyz.com|     2023/04/12|$120.50|     USD|     New York|123 Baker St,NY,USA|     P123|     NULL|
|      1002|    Jane doe|    jane.doe@xyz.com|     04-13-2023|   98.6|     usd|       Boston| 456 Elm Street, MA|     P124|delivered|
|      1003|Robert Smith|   rob.smith@xyz.com|     13-04-2023|   NULL|     USD|  Los Angeles| 789 Sunset Blvd,CA|     P125|     NULL|
|      1004|Mary Johnson|                NULL|     2023-04-15|$205.00|     USD|      Chicago|  321 Pine, IL, USA|     P123| refunded|
|      1002|    Jane doe|    jane.doe@xyz.com|     04-13-2023|   98.6|     usd|       Boston| 456 Elm Street, MA|     P124|delivered|
|      1005|       Alice|alice.williams@xy...|     2023/04/16| 300.25|     USD|       Boston|        404 5th Ave|     NULL|  pending|
|      1006|        NULL|        mike@xyz.com|     2023.04.17|    NaN|     USD|       Dallas|   900 Highland, TX|     P127|     NULL|
|      1007|   David, Jr|     davidjr@xyz.com|      2023-4-17|  85.99|     Usd|San Francisco|    12 Mission Blvd|     P128|completed|
|      1008|   Ana María|   ana.maria@xyz.com|     17/04/2023| €99.99|     EUR|       Madrid|   Calle 12, Madrid|     P129|       OK|
|      1009|  Léa Dubois|  lea.dubois@xyz.com|     2023/04/18| 112.10|     EUR|        Paris|45 Rue Saint, Paris|     P130|     NULL|
+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
only showing top 10 rows

In [10]:
spark.sql("""

CREATE EXTERNAL TABLE customers_transaction_raw_tbl (
    CustomerID INT,
    Name STRING,
    Email STRING,
    TransactionDate STRING,
    Amount STRING,
    Currency STRING,
    Location STRING,
    Address STRING,
    ProductID STRING,
    Remarks STRING
)
STORED AS PARQUET
LOCATION 'hdfs://localhost:9000/raw_tbls/';
""")

spark.sql("""
LOAD DATA INPATH 'hdfs:///data/landing/customers_transaction_raw' INTO TABLE customers_transaction_raw_tbl;
""")

DataFrame[]

In [70]:
spark.sql("describe table customers_transaction_raw_tbl").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|     CustomerID|      int|   NULL|
|           Name|   string|   NULL|
|          Email|   string|   NULL|
|TransactionDate|   string|   NULL|
|         Amount|   string|   NULL|
|       Currency|   string|   NULL|
|       Location|   string|   NULL|
|        Address|   string|   NULL|
|      ProductID|   string|   NULL|
|        Remarks|   string|   NULL|
+---------------+---------+-------+

In [107]:
df = spark.sql("SELECT * FROM customers_transaction_raw_tbl")

In [108]:
df.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- Remarks: string (nullable = true)

In [76]:
df.show(10)

+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
|CustomerID|        Name|               Email|TransactionDate| Amount|Currency|     Location|            Address|ProductID|  Remarks|
+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
|      1001|    JOHN DOE|    john.doe@xyz.com|     2023/04/12|$120.50|     USD|     New York|123 Baker St,NY,USA|     P123|     NULL|
|      1002|    Jane doe|    jane.doe@xyz.com|     04-13-2023|   98.6|     usd|       Boston| 456 Elm Street, MA|     P124|delivered|
|      1003|Robert Smith|   rob.smith@xyz.com|     13-04-2023|   NULL|     USD|  Los Angeles| 789 Sunset Blvd,CA|     P125|     NULL|
|      1004|Mary Johnson|                NULL|     2023-04-15|$205.00|     USD|      Chicago|  321 Pine, IL, USA|     P123| refunded|
|      1002|    Jane doe|    jane.doe@xyz.com|     04-13-2023|   98.6|     usd|       Boston| 456 Elm Street, MA|     P124|delivered|
|      1005|       Alice|alice.williams@xy...|     2023/04/16| 300.25|     USD|       Boston|        404 5th Ave|     NULL|  pending|
|      1006|        NULL|        mike@xyz.com|     2023.04.17|    NaN|     USD|       Dallas|   900 Highland, TX|     P127|     NULL|
|      1007|   David, Jr|     davidjr@xyz.com|      2023-4-17|  85.99|     Usd|San Francisco|    12 Mission Blvd|     P128|completed|
|      1008|   Ana María|   ana.maria@xyz.com|     17/04/2023| €99.99|     EUR|       Madrid|   Calle 12, Madrid|     P129|       OK|
|      1009|  Léa Dubois|  lea.dubois@xyz.com|     2023/04/18| 112.10|     EUR|        Paris|45 Rue Saint, Paris|     P130|     NULL|
+----------+------------+--------------------+---------------+-------+--------+-------------+-------------------+---------+---------+
only showing top 10 rows

In [109]:
from pyspark.sql.functions import regexp_replace, col, isnan, length, upper
from pyspark.sql.types import DecimalType

bad_records_df = df.filter(
    (col("CustomerID").cast("int").isNull()) |

    (col("Name").isNull() | (col("Name") != upper(col("Name")))) |

    (col("Email").isNull() | ~col("Email").rlike(r"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$")) |

    (col("TransactionDate").isNull() | ~col("TransactionDate").rlike(r"^(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])-\d{4}$")) |

    (col("Amount").isNull() | ~col("Amount").cast("string").rlike(r"^\$?\d+\.\d{2}$")) |

    (col("Currency").isNull() | (col("Currency") != upper(col("Currency")))) |

    (col("Location").isNull() | ~col("Location").rlike(r"^([A-Z][a-z]+)(\s[A-Z][a-z]+)*$")) |

    (col("Address").isNull()) |

    (col("ProductID").isNull() | ~col("ProductID").rlike(r"^P\d{3,}$")) |

    (col("Remarks").isNull() | (col("Remarks") != upper(col("Remarks"))))
)

bad_records_df.show(n=50, truncate=False)

+----------+---------------------+--------------------------------+---------------+--------+--------+-------------+-------------------------+---------+------------+
|CustomerID|Name                 |Email                           |TransactionDate|Amount  |Currency|Location     |Address                  |ProductID|Remarks     |
+----------+---------------------+--------------------------------+---------------+--------+--------+-------------+-------------------------+---------+------------+
|1001      |JOHN DOE             |john.doe@xyz.com                |2023/04/12     |$120.50 |USD     |New York     |123 Baker St,NY,USA      |P123     |NULL        |
|1002      |Jane doe             |jane.doe@xyz.com                |04-13-2023     |98.6    |usd     |Boston       |456 Elm Street, MA       |P124     |delivered   |
|1003      |Robert Smith         |rob.smith@xyz.com               |13-04-2023     |NULL    |USD     |Los Angeles  |789 Sunset Blvd,CA       |P125     |NULL        |
|1004      |Mary Johnson         |NULL                            |2023-04-15     |$205.00 |USD     |Chicago      |321 Pine, IL, USA        |P123     |refunded    |
|1002      |Jane doe             |jane.doe@xyz.com                |04-13-2023     |98.6    |usd     |Boston       |456 Elm Street, MA       |P124     |delivered   |
|1005      |Alice                |alice.williams@xyz.com          |2023/04/16     |300.25  |USD     |Boston       |404 5th Ave              |NULL     |pending     |
|1006      |NULL                 |mike@xyz.com                    |2023.04.17     |NaN     |USD     |Dallas       |900 Highland, TX         |P127     |NULL        |
|1007      |David, Jr            |davidjr@xyz.com                 |2023-4-17      |85.99   |Usd     |San Francisco|12 Mission Blvd          |P128     |completed   |
|1008      |Ana María            |ana.maria@xyz.com               |17/04/2023     |€99.99  |EUR     |Madrid       |Calle 12, Madrid         |P129     |OK          |
|1009      |Léa Dubois           |lea.dubois@xyz.com              |2023/04/18     |112.10  |EUR     |Paris        |45 Rue Saint, Paris      |P130     |NULL        |
|1010      |Mark Twain           |mark.twain@example.com          |2023/04/20     |$150.00 |USD     |San Diego    |789 Ocean Dr, CA         |P131     |completed   |
|1011      |Samantha Green       |sam.green@example.com           |20-04-2023     |250.75  |USD     |Seattle      |101 Pine St, WA          |P132     |delivered   |
|1012      |Thomas Anderson      |thomas.anderson@example.com     |2023.04.21     |330.50  |usd     |Chicago      |202 Maple Ave, IL        |P133     |NULL        |
|1013      |Eva Chen             |eva.chen@example.com            |21/04/2023     |499.99  |USD     |Los Angeles  |303 Hollywood Blvd, CA   |P134     |refunded    |
|1014      |Larry Page           |larry.page@example.com          |2023-04-22     |$800.00 |USD     |Mountain View|1 Google Way, CA         |P135     |completed   |
|1015      |Serena Williams      |serena.williams@example.com     |04/22/2023     |600.50  |USD     |Los Angeles  |11 Sports Dr, CA         |P136     |delivered   |
|1016      |Elon Musk            |elon.musk@example.com           |22-04-2023     |$999.99 |USD     |Palo Alto    |100 SpaceX Rd, CA        |P137     |NULL        |
|1017      |Ada Lovelace         |ada.lovelace@example.com        |2023.04.23     |75.00   |usd     |London       |15 Algorithm Ln, UK      |P138     |completed   |
|1018      |Grace Hopper         |grace.hopper@example.com        |23/04/2023     |$120.00 |USD     |Arlington    |45 Navy Rd, VA           |P139     |delivered   |
|1019      |Alan Turing          |alan.turing@example.com         |2023-04-23     |NaN     |USD     |Manchester   |23 Computing St, UK      |P140     |NULL        |
|1020      |Nikola Tesla         |nikola.tesla@example.com        |23.04.2023     |$450.00 |usd     |New York     |67 Electric Ave, NY      |P141     |refunded    |
|1021      |Marie Curie          |marie.curie@example.com         |24/04/2023     |350.00  |USD     |Paris        |89 Science Rd, France    |P142     |completed   |
|1022      |Isaac Newton         |isaac.newton@example.com        |2023/04/24     |$675.25 |USD     |London       |34 Gravity St, UK        |P143     |NULL        |
|1023      |Stephen Hawking      |stephen.hawking@example.com     |24-04-2023     |500.00  |USD     |Cambridge    |77 Universe Blvd, UK     |P144     |delivered   |
|1024      |Galileo Galilei      |galileo.galilei@example.com     |2023-04-25     |$300.00 |usd     |Pisa         |12 Telescope Ln, Italy   |P145     |NULL        |
|1025      |Aristotle            |aristotle@example.com           |25/04/2023     |200.50  |USD     |Athens       |101 Philosophy Sq, Greece|P146     |refunded    |
|1026      |Socrates             |socrates@example.com            |2023-04-26     |NaN     |USD     |Athens       |202 Agora, Greece        |P147     |missing data|
|1027      |Plato                |plato@example.com               |26.04.2023     |$400.99 |USD     |Athens       |303 Academy Rd, Greece   |P148     |NULL        |
|1028      |Confucius            |confucius@example.com           |2023/04/27     |180.75  |USD     |Beijing      |9 Wisdom Way, China      |P149     |completed   |
|1029      |Socrates             |socrates@example.com            |04-27-2023     |NaN     |USD     |Athens       |202 Agora, Greece        |P147     |duplicate   |
|1030      |Sun Tzu              |sun.tzu@example.com             |27/04/2023     |220.00  |USD     |Beijing      |66 Strategy St, China    |P150     |delivered   |
|1031      |Mahatma Gandhi       |mahatma.gandhi@example.com      |2023.04.28     |$150.00 |usd     |New Delhi    |77 Peace Rd, India       |P151     |completed   |
|1032      |Benazir Bhutto       |benazir.bhutto@example.com      |28/04/2023     |80.50   |USD     |Karachi      |88 Freedom Ln, Pakistan  |P152     |returned    |
|1033      |Indira Gandhi        |indira.gandhi@example.com       |2023/04/28     |$220.30 |USD     |New Delhi    |99 Leadership Dr, India  |P153     |delivered   |
|1034      |Jawaharlal Nehru     |nehru@example.com               |28-04-2023     |510.00  |USD     |Allahabad    |100 Vision St, India     |P154     |NULL        |
|1035      |Mother Teresa        |mother.teresa@example.com       |2023-04-29     |$75.75  |USD     |Kolkata      |12 Compassion Rd, India  |P155     |completed   |
|1036      |Ronald Reagan        |ronald.reagan@example.com       |29/04/2023     |430.00  |usd     |Los Angeles  |13 Hollywood Blvd, CA    |P156     |refunded    |
|1037      |Winston Churchill    |winston.churchill@example.com   |2023.04.30     |$95.50  |USD     |London       |14 Victory Ln, UK        |P157     |NULL        |
|1038      |Franklin Roosevelt   |franklin.roosevelt@example.com  |30/04/2023     |350.00  |USD     |New York     |15 Presidential Rd, NY   |P158     |completed   |
|1039      |Benjamin Franklin    |ben.franklin@example.com        |2023-04-30     |270.00  |USD     |Philadelphia |16 Liberty St, PA        |P159     |delivered   |
|1040      |George Washington    |george.washington@example.com   |2023/05/01     |$1000.00|USD     |Mount Vernon |1 Independence Hall, VA  |P160     |completed   |
|1041      |Thomas Jefferson     |thomas.jefferson@example.com    |01-05-2023     |$850.00 |USD     |Washington   |2 Democracy Blvd, DC     |P161     |returned    |
|1042      |John Adams           |john.adams@example.com          |2023.05.01     |920.50  |usd     |Boston       |3 Freedom Rd, MA         |P162     |NULL        |
|1043      |James Madison        |james.madison@example.com       |01/05/2023     |$330.75 |USD     |Montpelier   |4 Constitution Ave, VA   |P163     |completed   |
|1044      |Alexander Hamilton   |alex.hamilton@example.com       |2023/05/02     |$1150.00|USD     |New York     |5 Finance St, NY         |P164     |delivered   |
|1045      |Andrew Jackson       |andrew.jackson@example.com      |02-05-2023     |780.00  |USD     |Jacksonville |6 Southern Rd, FL        |P165     |NULL        |
|1046      |Ulysses S. Grant     |ulysses.grant@example.com       |2023.05.02     |660.00  |usd     |Chicago      |7 War St, IL             |P166     |refunded    |
|1047      |Theodore Roosevelt   |theodore.roosevelt@example.com  |02/05/2023     |$540.00 |USD     |New York     |8 Rough Rider Rd, NY     |P167     |completed   |
|1048      |Woodrow Wilson       |woodrow.wilson@example.com      |2023/05/03     |470.50  |USD     |Washington   |9 Progressive Pl, DC     |P168     |NULL        |
|1049      |Franklin D. Roosevelt|franklin.d.roosevelt@example.com|03-05-2023     |$630.00 |USD     |Hyde Park    |10 Courthouse Rd, NY     |P169     |delivered   |
+----------+---------------------+--------------------------------+---------------+--------+--------+-------------+-------------------------+---------+------------+

In [110]:
from pyspark.sql.functions import col, regexp_replace, upper, trim, when, to_date
from pyspark.sql.types import DecimalType

# Step 1: Convert all string fields to trimmed and appropriate format
df_cleaned = df \
    .withColumn("Name", upper(trim(col("Name")))) \
    .withColumn("Email", trim(col("Email"))) \
    .withColumn("Currency", upper(trim(col("Currency")))) \
    .withColumn("Remarks", upper(trim(col("Remarks")))) \
    .withColumn("Location", regexp_replace(trim(col("Location")), r"\s+", " ")) \
    .withColumn("Amount", regexp_replace(col("Amount"), r"[^0-9.]", "").cast(DecimalType(10, 2))) \
    .withColumn("TransactionDate", regexp_replace(col("TransactionDate"), r"[./]", "-"))

df_cleaned.show(40, truncate=False)

+----------+------------------+------------------------------+---------------+------+--------+-------------+-------------------------+---------+------------+
|CustomerID|Name              |Email                         |TransactionDate|Amount|Currency|Location     |Address                  |ProductID|Remarks     |
+----------+------------------+------------------------------+---------------+------+--------+-------------+-------------------------+---------+------------+
|1001      |JOHN DOE          |john.doe@xyz.com              |2023-04-12     |120.50|USD     |New York     |123 Baker St,NY,USA      |P123     |NULL        |
|1002      |JANE DOE          |jane.doe@xyz.com              |04-13-2023     |98.60 |USD     |Boston       |456 Elm Street, MA       |P124     |DELIVERED   |
|1003      |ROBERT SMITH      |rob.smith@xyz.com             |13-04-2023     |NULL  |USD     |Los Angeles  |789 Sunset Blvd,CA       |P125     |NULL        |
|1004      |MARY JOHNSON      |NULL                          |2023-04-15     |205.00|USD     |Chicago      |321 Pine, IL, USA        |P123     |REFUNDED    |
|1002      |JANE DOE          |jane.doe@xyz.com              |04-13-2023     |98.60 |USD     |Boston       |456 Elm Street, MA       |P124     |DELIVERED   |
|1005      |ALICE             |alice.williams@xyz.com        |2023-04-16     |300.25|USD     |Boston       |404 5th Ave              |NULL     |PENDING     |
|1006      |NULL              |mike@xyz.com                  |2023-04-17     |NULL  |USD     |Dallas       |900 Highland, TX         |P127     |NULL        |
|1007      |DAVID, JR         |davidjr@xyz.com               |2023-4-17      |85.99 |USD     |San Francisco|12 Mission Blvd          |P128     |COMPLETED   |
|1008      |ANA MARÍA         |ana.maria@xyz.com             |17-04-2023     |99.99 |EUR     |Madrid       |Calle 12, Madrid         |P129     |OK          |
|1009      |LÉA DUBOIS        |lea.dubois@xyz.com            |2023-04-18     |112.10|EUR     |Paris        |45 Rue Saint, Paris      |P130     |NULL        |
|1010      |MARK TWAIN        |mark.twain@example.com        |2023-04-20     |150.00|USD     |San Diego    |789 Ocean Dr, CA         |P131     |COMPLETED   |
|1011      |SAMANTHA GREEN    |sam.green@example.com         |20-04-2023     |250.75|USD     |Seattle      |101 Pine St, WA          |P132     |DELIVERED   |
|1012      |THOMAS ANDERSON   |thomas.anderson@example.com   |2023-04-21     |330.50|USD     |Chicago      |202 Maple Ave, IL        |P133     |NULL        |
|1013      |EVA CHEN          |eva.chen@example.com          |21-04-2023     |499.99|USD     |Los Angeles  |303 Hollywood Blvd, CA   |P134     |REFUNDED    |
|1014      |LARRY PAGE        |larry.page@example.com        |2023-04-22     |800.00|USD     |Mountain View|1 Google Way, CA         |P135     |COMPLETED   |
|1015      |SERENA WILLIAMS   |serena.williams@example.com   |04-22-2023     |600.50|USD     |Los Angeles  |11 Sports Dr, CA         |P136     |DELIVERED   |
|1016      |ELON MUSK         |elon.musk@example.com         |22-04-2023     |999.99|USD     |Palo Alto    |100 SpaceX Rd, CA        |P137     |NULL        |
|1017      |ADA LOVELACE      |ada.lovelace@example.com      |2023-04-23     |75.00 |USD     |London       |15 Algorithm Ln, UK      |P138     |COMPLETED   |
|1018      |GRACE HOPPER      |grace.hopper@example.com      |23-04-2023     |120.00|USD     |Arlington    |45 Navy Rd, VA           |P139     |DELIVERED   |
|1019      |ALAN TURING       |alan.turing@example.com       |2023-04-23     |NULL  |USD     |Manchester   |23 Computing St, UK      |P140     |NULL        |
|1020      |NIKOLA TESLA      |nikola.tesla@example.com      |23-04-2023     |450.00|USD     |New York     |67 Electric Ave, NY      |P141     |REFUNDED    |
|1021      |MARIE CURIE       |marie.curie@example.com       |24-04-2023     |350.00|USD     |Paris        |89 Science Rd, France    |P142     |COMPLETED   |
|1022      |ISAAC NEWTON      |isaac.newton@example.com      |2023-04-24     |675.25|USD     |London       |34 Gravity St, UK        |P143     |NULL        |
|1023      |STEPHEN HAWKING   |stephen.hawking@example.com   |24-04-2023     |500.00|USD     |Cambridge    |77 Universe Blvd, UK     |P144     |DELIVERED   |
|1024      |GALILEO GALILEI   |galileo.galilei@example.com   |2023-04-25     |300.00|USD     |Pisa         |12 Telescope Ln, Italy   |P145     |NULL        |
|1025      |ARISTOTLE         |aristotle@example.com         |25-04-2023     |200.50|USD     |Athens       |101 Philosophy Sq, Greece|P146     |REFUNDED    |
|1026      |SOCRATES          |socrates@example.com          |2023-04-26     |NULL  |USD     |Athens       |202 Agora, Greece        |P147     |MISSING DATA|
|1027      |PLATO             |plato@example.com             |26-04-2023     |400.99|USD     |Athens       |303 Academy Rd, Greece   |P148     |NULL        |
|1028      |CONFUCIUS         |confucius@example.com         |2023-04-27     |180.75|USD     |Beijing      |9 Wisdom Way, China      |P149     |COMPLETED   |
|1029      |SOCRATES          |socrates@example.com          |04-27-2023     |NULL  |USD     |Athens       |202 Agora, Greece        |P147     |DUPLICATE   |
|1030      |SUN TZU           |sun.tzu@example.com           |27-04-2023     |220.00|USD     |Beijing      |66 Strategy St, China    |P150     |DELIVERED   |
|1031      |MAHATMA GANDHI    |mahatma.gandhi@example.com    |2023-04-28     |150.00|USD     |New Delhi    |77 Peace Rd, India       |P151     |COMPLETED   |
|1032      |BENAZIR BHUTTO    |benazir.bhutto@example.com    |28-04-2023     |80.50 |USD     |Karachi      |88 Freedom Ln, Pakistan  |P152     |RETURNED    |
|1033      |INDIRA GANDHI     |indira.gandhi@example.com     |2023-04-28     |220.30|USD     |New Delhi    |99 Leadership Dr, India  |P153     |DELIVERED   |
|1034      |JAWAHARLAL NEHRU  |nehru@example.com             |28-04-2023     |510.00|USD     |Allahabad    |100 Vision St, India     |P154     |NULL        |
|1035      |MOTHER TERESA     |mother.teresa@example.com     |2023-04-29     |75.75 |USD     |Kolkata      |12 Compassion Rd, India  |P155     |COMPLETED   |
|1036      |RONALD REAGAN     |ronald.reagan@example.com     |29-04-2023     |430.00|USD     |Los Angeles  |13 Hollywood Blvd, CA    |P156     |REFUNDED    |
|1037      |WINSTON CHURCHILL |winston.churchill@example.com |2023-04-30     |95.50 |USD     |London       |14 Victory Ln, UK        |P157     |NULL        |
|1038      |FRANKLIN ROOSEVELT|franklin.roosevelt@example.com|30-04-2023     |350.00|USD     |New York     |15 Presidential Rd, NY   |P158     |COMPLETED   |
|1039      |BENJAMIN FRANKLIN |ben.franklin@example.com      |2023-04-30     |270.00|USD     |Philadelphia |16 Liberty St, PA        |P159     |DELIVERED   |
+----------+------------------+------------------------------+---------------+------+--------+-------------+-------------------------+---------+------------+
only showing top 40 rows

In [79]:
from pyspark.sql.functions import col, length, trim

invalid_names_df = df_cleaned.filter(
    (col("Name") != trim(col("Name"))) &          # Not trimmed
    (col("Name") != upper(col("Name")))            # Contains lowercase letters
)

invalid_names_df.select("Name").show(truncate=False)

+----+
|Name|
+----+
+----+

In [10]:
from pyspark.sql.functions import col, when, to_date, date_format, substring

# Create a new column to store the day/month prefix as an int
df_cleaned = df_cleaned.withColumn("prefix_int", col("TransactionDate").substr(1, 2).cast("int"))

df_cleaned = df_cleaned.withColumn(
    "TransactionDateParsed",
    when(col("TransactionDate").rlike(r"^\d{4}-\d{1,2}-\d{1,2}$"), to_date(col("TransactionDate"), "yyyy-M-d"))
    .when(
        col("TransactionDate").rlike(r"^\d{1,2}-\d{1,2}-\d{4}$") & (col("prefix_int") <= 12),
        to_date(col("TransactionDate"), "MM-dd-yyyy")
    )
    .when(
        col("TransactionDate").rlike(r"^\d{1,2}-\d{1,2}-\d{4}$") & (col("prefix_int") > 12),
        to_date(col("TransactionDate"), "dd-MM-yyyy")
    )
)

df_cleaned = df_cleaned.withColumn(
    "TransactionDate", date_format(col("TransactionDateParsed"), "dd-MM-yyyy")
).drop("TransactionDateParsed", "prefix_int")

In [21]:
df_cleaned.show(50, truncate = True)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+
|CustomerID|                Name|               Email|TransactioNdate| Amount|Currency|     Location|             Address|ProductID|     Remarks|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+
|      1001|            JOHN DOE|    john.doe@xyz.com|     12-04-2023| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|        NULL|
|      1002|            JANE DOE|    jane.doe@xyz.com|     13-04-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|   DELIVERED|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|     13-04-2023|   NULL|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|        NULL|
|      1004|        MARY JOHNSON|                NULL|     15-04-2023| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123|    REFUNDED|
|      1002|            JANE DOE|    jane.doe@xyz.com|     13-04-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|   DELIVERED|
|      1005|               ALICE|alice.williams@xy...|     16-04-2023| 300.25|     USD|       Boston|         404 5th Ave|     NULL|     PENDING|
|      1006|                NULL|        mike@xyz.com|     17-04-2023|   NULL|     USD|       Dallas|    900 Highland, TX|     P127|        NULL|
|      1007|           DAVID, JR|     davidjr@xyz.com|     17-04-2023|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|   COMPLETED|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|     17-04-2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|          OK|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|     18-04-2023| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|        NULL|
|      1010|          MARK TWAIN|mark.twain@exampl...|     20-04-2023| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|   COMPLETED|
|      1011|      SAMANTHA GREEN|sam.green@example...|     20-04-2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|   DELIVERED|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|     21-04-2023| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|        NULL|
|      1013|            EVA CHEN|eva.chen@example.com|     21-04-2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134|    REFUNDED|
|      1014|          LARRY PAGE|larry.page@exampl...|     22-04-2023| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|   COMPLETED|
|      1015|     SERENA WILLIAMS|serena.williams@e...|     22-04-2023| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|   DELIVERED|
|      1016|           ELON MUSK|elon.musk@example...|     22-04-2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|        NULL|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|     23-04-2023|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|   COMPLETED|
|      1018|        GRACE HOPPER|grace.hopper@exam...|     23-04-2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|   DELIVERED|
|      1019|         ALAN TURING|alan.turing@examp...|     23-04-2023|   NULL|     USD|   Manchester| 23 Computing St, UK|     P140|        NULL|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|     23-04-2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141|    REFUNDED|
|      1021|         MARIE CURIE|marie.curie@examp...|     24-04-2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|   COMPLETED|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|     24-04-2023| 675.25|     USD|       London|   34 Gravity St, UK|     P143|        NULL|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|     24-04-2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|   DELIVERED|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|     25-04-2023| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|        NULL|
|      1025|           ARISTOTLE|aristotle@example...|     25-04-2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146|    REFUNDED|
|      1026|            SOCRATES|socrates@example.com|     26-04-2023|   NULL|     USD|       Athens|   202 Agora, Greece|     P147|MISSING DATA|
|      1027|               PLATO|   plato@example.com|     26-04-2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|        NULL|
|      1028|           CONFUCIUS|confucius@example...|     27-04-2023| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|   COMPLETED|
|      1029|            SOCRATES|socrates@example.com|     27-04-2023|   NULL|     USD|       Athens|   202 Agora, Greece|     P147|   DUPLICATE|
|      1030|             SUN TZU| sun.tzu@example.com|     27-04-2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|   DELIVERED|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|     28-04-2023| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|   COMPLETED|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|     28-04-2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152|    RETURNED|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|     28-04-2023| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|   DELIVERED|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|     28-04-2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|        NULL|
|      1035|       MOTHER TERESA|mother.teresa@exa...|     29-04-2023|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|   COMPLETED|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|     29-04-2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156|    REFUNDED|
|      1037|   WINSTON CHURCHILL|winston.churchill...|     30-04-2023|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|        NULL|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|     30-04-2023| 350.00|     USD|     New York|15 Presidential R...|     P158|   COMPLETED|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|     30-04-2023| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|   DELIVERED|
|      1040|   GEORGE WASHINGTON|george.washington...|     01-05-2023|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|   COMPLETED|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|     05-01-2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161|    RETURNED|
|      1042|          JOHN ADAMS|john.adams@exampl...|     01-05-2023| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|        NULL|
|      1043|       JAMES MADISON|james.madison@exa...|     05-01-2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|   COMPLETED|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|     02-05-2023|1150.00|     USD|     New York|    5 Finance St, NY|     P164|   DELIVERED|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|     05-02-2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|        NULL|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|     02-05-2023| 660.00|     USD|      Chicago|        7 War St, IL|     P166|    REFUNDED|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|     05-02-2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|   COMPLETED|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|     03-05-2023| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|        NULL|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|     05-03-2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|   DELIVERED|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+

In [20]:
df_cleaned.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- TransactioNdate: string (nullable = true)
 |-- Amount: decimal(10,2) (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- Remarks: string (nullable = true)

In [22]:
from pyspark.sql.functions import col, sum as _sum, when

null_counts = df_cleaned.select([
    _sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) 
    for c in df_cleaned.columns
])

null_counts.show()

+----------+----+-----+---------------+------+--------+--------+-------+---------+-------+
|CustomerID|Name|Email|TransactioNdate|Amount|Currency|Location|Address|ProductID|Remarks|
+----------+----+-----+---------------+------+--------+--------+-------+---------+-------+
|         0|   1|    1|              0|     5|       0|       0|      0|        1|     15|
+----------+----+-----+---------------+------+--------+--------+-------+---------+-------+

In [111]:
df_cleaned = df_cleaned.fillna({
    "CustomerID": 9999,  # A fallback integer ID
    "Name": "1001",
    "Email": "tcs@xyz.com",
    "TransactionDate": "2023-01-01",  # ISO format expected if it's a string
    "Amount": 0.0,
    "Currency": "USD",
    "Location": "New York",
    "Address": "Not Provided",
    "ProductID": "P000",
    "Remarks": "ITEM RETURED"
})

In [112]:
df_cleaned.show(50)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+
|CustomerID|                Name|               Email|TransactionDate| Amount|Currency|     Location|             Address|ProductID|     Remarks|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+
|      1001|            JOHN DOE|    john.doe@xyz.com|     2023-04-12| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|ITEM RETURED|
|      1002|            JANE DOE|    jane.doe@xyz.com|     04-13-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|   DELIVERED|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|     13-04-2023|   0.00|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|ITEM RETURED|
|      1004|        MARY JOHNSON|         tcs@xyz.com|     2023-04-15| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123|    REFUNDED|
|      1002|            JANE DOE|    jane.doe@xyz.com|     04-13-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|   DELIVERED|
|      1005|               ALICE|alice.williams@xy...|     2023-04-16| 300.25|     USD|       Boston|         404 5th Ave|     P000|     PENDING|
|      1006|                1001|        mike@xyz.com|     2023-04-17|   0.00|     USD|       Dallas|    900 Highland, TX|     P127|ITEM RETURED|
|      1007|           DAVID, JR|     davidjr@xyz.com|      2023-4-17|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|   COMPLETED|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|     17-04-2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|          OK|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|     2023-04-18| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|ITEM RETURED|
|      1010|          MARK TWAIN|mark.twain@exampl...|     2023-04-20| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|   COMPLETED|
|      1011|      SAMANTHA GREEN|sam.green@example...|     20-04-2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|   DELIVERED|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|     2023-04-21| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|ITEM RETURED|
|      1013|            EVA CHEN|eva.chen@example.com|     21-04-2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134|    REFUNDED|
|      1014|          LARRY PAGE|larry.page@exampl...|     2023-04-22| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|   COMPLETED|
|      1015|     SERENA WILLIAMS|serena.williams@e...|     04-22-2023| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|   DELIVERED|
|      1016|           ELON MUSK|elon.musk@example...|     22-04-2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|ITEM RETURED|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|     2023-04-23|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|   COMPLETED|
|      1018|        GRACE HOPPER|grace.hopper@exam...|     23-04-2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|   DELIVERED|
|      1019|         ALAN TURING|alan.turing@examp...|     2023-04-23|   0.00|     USD|   Manchester| 23 Computing St, UK|     P140|ITEM RETURED|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|     23-04-2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141|    REFUNDED|
|      1021|         MARIE CURIE|marie.curie@examp...|     24-04-2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|   COMPLETED|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|     2023-04-24| 675.25|     USD|       London|   34 Gravity St, UK|     P143|ITEM RETURED|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|     24-04-2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|   DELIVERED|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|     2023-04-25| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|ITEM RETURED|
|      1025|           ARISTOTLE|aristotle@example...|     25-04-2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146|    REFUNDED|
|      1026|            SOCRATES|socrates@example.com|     2023-04-26|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|MISSING DATA|
|      1027|               PLATO|   plato@example.com|     26-04-2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|ITEM RETURED|
|      1028|           CONFUCIUS|confucius@example...|     2023-04-27| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|   COMPLETED|
|      1029|            SOCRATES|socrates@example.com|     04-27-2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|   DUPLICATE|
|      1030|             SUN TZU| sun.tzu@example.com|     27-04-2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|   DELIVERED|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|     2023-04-28| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|   COMPLETED|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|     28-04-2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152|    RETURNED|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|     2023-04-28| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|   DELIVERED|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|     28-04-2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|ITEM RETURED|
|      1035|       MOTHER TERESA|mother.teresa@exa...|     2023-04-29|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|   COMPLETED|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|     29-04-2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156|    REFUNDED|
|      1037|   WINSTON CHURCHILL|winston.churchill...|     2023-04-30|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|ITEM RETURED|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|     30-04-2023| 350.00|     USD|     New York|15 Presidential R...|     P158|   COMPLETED|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|     2023-04-30| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|   DELIVERED|
|      1040|   GEORGE WASHINGTON|george.washington...|     2023-05-01|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|   COMPLETED|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|     01-05-2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161|    RETURNED|
|      1042|          JOHN ADAMS|john.adams@exampl...|     2023-05-01| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|ITEM RETURED|
|      1043|       JAMES MADISON|james.madison@exa...|     01-05-2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|   COMPLETED|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|     2023-05-02|1150.00|     USD|     New York|    5 Finance St, NY|     P164|   DELIVERED|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|     02-05-2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|ITEM RETURED|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|     2023-05-02| 660.00|     USD|      Chicago|        7 War St, IL|     P166|    REFUNDED|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|     02-05-2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|   COMPLETED|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|     2023-05-03| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|ITEM RETURED|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|     03-05-2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|   DELIVERED|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+------------+

In [113]:
df_cleaned.select("Remarks").distinct().show()

+------------+
|     Remarks|
+------------+
|MISSING DATA|
|ITEM RETURED|
|    REFUNDED|
|    RETURNED|
|   DUPLICATE|
|   DELIVERED|
|   COMPLETED|
|     PENDING|
|          OK|
+------------+

In [114]:
from pyspark.sql.functions import when, col

df_cleaned = df_cleaned.withColumn("Remarks", when(col("Remarks") == "ITEM RETURED", "PENDING").otherwise(col("Remarks"))
)

In [115]:
from pyspark.sql.functions import col, when

# Define the allowed values
valid_values = ["REFUNDED", "RETURNED", "DELIVERED", "COMPLETED", "PENDING"]

# Clean the Remarks column
df_cleaned = df_cleaned.withColumn("Remarks", when(col("Remarks").isin(valid_values), col("Remarks")).otherwise("COMPLETED")
)

df_cleaned.show(50)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+
|CustomerID|                Name|               Email|TransactionDate| Amount|Currency|     Location|             Address|ProductID|  Remarks|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+
|      1001|            JOHN DOE|    john.doe@xyz.com|     2023-04-12| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|  PENDING|
|      1002|            JANE DOE|    jane.doe@xyz.com|     04-13-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|     13-04-2023|   0.00|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|  PENDING|
|      1004|        MARY JOHNSON|         tcs@xyz.com|     2023-04-15| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123| REFUNDED|
|      1002|            JANE DOE|    jane.doe@xyz.com|     04-13-2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|
|      1005|               ALICE|alice.williams@xy...|     2023-04-16| 300.25|     USD|       Boston|         404 5th Ave|     P000|  PENDING|
|      1006|                1001|        mike@xyz.com|     2023-04-17|   0.00|     USD|       Dallas|    900 Highland, TX|     P127|  PENDING|
|      1007|           DAVID, JR|     davidjr@xyz.com|      2023-4-17|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|COMPLETED|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|     17-04-2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|COMPLETED|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|     2023-04-18| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|  PENDING|
|      1010|          MARK TWAIN|mark.twain@exampl...|     2023-04-20| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|COMPLETED|
|      1011|      SAMANTHA GREEN|sam.green@example...|     20-04-2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|DELIVERED|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|     2023-04-21| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|  PENDING|
|      1013|            EVA CHEN|eva.chen@example.com|     21-04-2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134| REFUNDED|
|      1014|          LARRY PAGE|larry.page@exampl...|     2023-04-22| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|COMPLETED|
|      1015|     SERENA WILLIAMS|serena.williams@e...|     04-22-2023| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|DELIVERED|
|      1016|           ELON MUSK|elon.musk@example...|     22-04-2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|  PENDING|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|     2023-04-23|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|COMPLETED|
|      1018|        GRACE HOPPER|grace.hopper@exam...|     23-04-2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|DELIVERED|
|      1019|         ALAN TURING|alan.turing@examp...|     2023-04-23|   0.00|     USD|   Manchester| 23 Computing St, UK|     P140|  PENDING|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|     23-04-2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141| REFUNDED|
|      1021|         MARIE CURIE|marie.curie@examp...|     24-04-2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|COMPLETED|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|     2023-04-24| 675.25|     USD|       London|   34 Gravity St, UK|     P143|  PENDING|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|     24-04-2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|DELIVERED|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|     2023-04-25| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|  PENDING|
|      1025|           ARISTOTLE|aristotle@example...|     25-04-2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146| REFUNDED|
|      1026|            SOCRATES|socrates@example.com|     2023-04-26|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|
|      1027|               PLATO|   plato@example.com|     26-04-2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|  PENDING|
|      1028|           CONFUCIUS|confucius@example...|     2023-04-27| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|COMPLETED|
|      1029|            SOCRATES|socrates@example.com|     04-27-2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|
|      1030|             SUN TZU| sun.tzu@example.com|     27-04-2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|DELIVERED|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|     2023-04-28| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|COMPLETED|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|     28-04-2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152| RETURNED|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|     2023-04-28| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|DELIVERED|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|     28-04-2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|  PENDING|
|      1035|       MOTHER TERESA|mother.teresa@exa...|     2023-04-29|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|COMPLETED|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|     29-04-2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156| REFUNDED|
|      1037|   WINSTON CHURCHILL|winston.churchill...|     2023-04-30|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|  PENDING|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|     30-04-2023| 350.00|     USD|     New York|15 Presidential R...|     P158|COMPLETED|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|     2023-04-30| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|DELIVERED|
|      1040|   GEORGE WASHINGTON|george.washington...|     2023-05-01|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|COMPLETED|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|     01-05-2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161| RETURNED|
|      1042|          JOHN ADAMS|john.adams@exampl...|     2023-05-01| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|  PENDING|
|      1043|       JAMES MADISON|james.madison@exa...|     01-05-2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|COMPLETED|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|     2023-05-02|1150.00|     USD|     New York|    5 Finance St, NY|     P164|DELIVERED|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|     02-05-2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|  PENDING|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|     2023-05-02| 660.00|     USD|      Chicago|        7 War St, IL|     P166| REFUNDED|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|     02-05-2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|COMPLETED|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|     2023-05-03| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|  PENDING|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|     03-05-2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|DELIVERED|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+

In [ ]:
"""
- Sales peaks by month/year → via TransactionMonth, TransactionYear
- High-value customer identification → from HighValueTransaction
- Customer segmentation → using CustomerTier for targeted marketing
- Fulfillment performance → via % of IsDelivered
- Revenue risk/opportunity zones → analyze combinations of Amount and Remarks
"""

In [116]:
from pyspark.sql.functions import col, month, year, upper, when, lit, to_date, lpad
from pyspark.sql.types import StringType

df_cleaned = df_cleaned.withColumn("TransactioNdate", to_date(col("TransactioNdate"), "dd-MM-yyyy"))

# 1. TransactionMonth - Helps analyze monthly trends
df_cleaned = df_cleaned.withColumn("TransactionMonth", lpad(month(to_date(col("TransactioNdate"), "dd-MM-yyyy")).cast(StringType()), 2, "0"))

# 2. TransactionYear - Helps observe year-over-year growth
df_cleaned = df_cleaned.withColumn("TransactioNdate", year(to_date(col("TransactioNdate"), "dd-MM-yyyy")).cast(StringType()))

# 3. HighValueTransaction - Flags transactions that are large (custom threshold)
df_cleaned = df_cleaned.withColumn("HighValueTransaction", when(col("Amount") > 500, "Yes").otherwise("No"))

# 4. CustomerTier - Classify customers based on Amount spent
df_cleaned = df_cleaned.withColumn(
    "CustomerTier",
    when(col("Amount") >= 500, "Platinum")
    .when(col("Amount") >= 200, "Gold")
    .when(col("Amount") >= 100, "Silver")
    .otherwise("Bronze")
)

# 5. IsDelivered - Convert Remarks to a delivery flag for fulfillment analysis
df_cleaned = df_cleaned.withColumn(
    "IsDelivered",
    when(upper(col("Remarks")) == "DELIVERED", 1).otherwise(0)
)

In [117]:
df_cleaned.show(50, truncate = True)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|CustomerID|                Name|               Email|TransactioNdate| Amount|Currency|     Location|             Address|ProductID|  Remarks|TransactionMonth|HighValueTransaction|CustomerTier|IsDelivered|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|      1001|            JOHN DOE|    john.doe@xyz.com|           NULL| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|  PENDING|            NULL|                  No|      Silver|          0|
|      1002|            JANE DOE|    jane.doe@xyz.com|           NULL|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|            NULL|                  No|      Bronze|          1|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|           2023|   0.00|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|  PENDING|              04|                  No|      Bronze|          0|
|      1004|        MARY JOHNSON|         tcs@xyz.com|           NULL| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123| REFUNDED|            NULL|                  No|        Gold|          0|
|      1002|            JANE DOE|    jane.doe@xyz.com|           NULL|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|            NULL|                  No|      Bronze|          1|
|      1005|               ALICE|alice.williams@xy...|           NULL| 300.25|     USD|       Boston|         404 5th Ave|     P000|  PENDING|            NULL|                  No|        Gold|          0|
|      1006|                1001|        mike@xyz.com|           NULL|   0.00|     USD|       Dallas|    900 Highland, TX|     P127|  PENDING|            NULL|                  No|      Bronze|          0|
|      1007|           DAVID, JR|     davidjr@xyz.com|           NULL|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|COMPLETED|            NULL|                  No|      Bronze|          0|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|           2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|COMPLETED|              04|                  No|      Bronze|          0|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|           NULL| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|  PENDING|            NULL|                  No|      Silver|          0|
|      1010|          MARK TWAIN|mark.twain@exampl...|           NULL| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|COMPLETED|            NULL|                  No|      Silver|          0|
|      1011|      SAMANTHA GREEN|sam.green@example...|           2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|DELIVERED|              04|                  No|        Gold|          1|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|           NULL| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|  PENDING|            NULL|                  No|        Gold|          0|
|      1013|            EVA CHEN|eva.chen@example.com|           2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134| REFUNDED|              04|                  No|        Gold|          0|
|      1014|          LARRY PAGE|larry.page@exampl...|           NULL| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|COMPLETED|            NULL|                 Yes|    Platinum|          0|
|      1015|     SERENA WILLIAMS|serena.williams@e...|           NULL| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|DELIVERED|            NULL|                 Yes|    Platinum|          1|
|      1016|           ELON MUSK|elon.musk@example...|           2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|  PENDING|              04|                 Yes|    Platinum|          0|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|           NULL|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|COMPLETED|            NULL|                  No|      Bronze|          0|
|      1018|        GRACE HOPPER|grace.hopper@exam...|           2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|DELIVERED|              04|                  No|      Silver|          1|
|      1019|         ALAN TURING|alan.turing@examp...|           NULL|   0.00|     USD|   Manchester| 23 Computing St, UK|     P140|  PENDING|            NULL|                  No|      Bronze|          0|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|           2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141| REFUNDED|              04|                  No|        Gold|          0|
|      1021|         MARIE CURIE|marie.curie@examp...|           2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|COMPLETED|              04|                  No|        Gold|          0|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|           NULL| 675.25|     USD|       London|   34 Gravity St, UK|     P143|  PENDING|            NULL|                 Yes|    Platinum|          0|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|           2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|DELIVERED|              04|                  No|    Platinum|          1|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|           NULL| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|  PENDING|            NULL|                  No|        Gold|          0|
|      1025|           ARISTOTLE|aristotle@example...|           2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146| REFUNDED|              04|                  No|        Gold|          0|
|      1026|            SOCRATES|socrates@example.com|           NULL|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|            NULL|                  No|      Bronze|          0|
|      1027|               PLATO|   plato@example.com|           2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|  PENDING|              04|                  No|        Gold|          0|
|      1028|           CONFUCIUS|confucius@example...|           NULL| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|COMPLETED|            NULL|                  No|      Silver|          0|
|      1029|            SOCRATES|socrates@example.com|           NULL|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|            NULL|                  No|      Bronze|          0|
|      1030|             SUN TZU| sun.tzu@example.com|           2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|DELIVERED|              04|                  No|        Gold|          1|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|           NULL| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|COMPLETED|            NULL|                  No|      Silver|          0|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|           2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152| RETURNED|              04|                  No|      Bronze|          0|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|           NULL| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|DELIVERED|            NULL|                  No|        Gold|          1|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|           2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|  PENDING|              04|                 Yes|    Platinum|          0|
|      1035|       MOTHER TERESA|mother.teresa@exa...|           NULL|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|COMPLETED|            NULL|                  No|      Bronze|          0|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|           2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156| REFUNDED|              04|                  No|        Gold|          0|
|      1037|   WINSTON CHURCHILL|winston.churchill...|           NULL|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|  PENDING|            NULL|                  No|      Bronze|          0|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|           2023| 350.00|     USD|     New York|15 Presidential R...|     P158|COMPLETED|              04|                  No|        Gold|          0|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|           NULL| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|DELIVERED|            NULL|                  No|        Gold|          1|
|      1040|   GEORGE WASHINGTON|george.washington...|           NULL|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|COMPLETED|            NULL|                 Yes|    Platinum|          0|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|           2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161| RETURNED|              05|                 Yes|    Platinum|          0|
|      1042|          JOHN ADAMS|john.adams@exampl...|           NULL| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|  PENDING|            NULL|                 Yes|    Platinum|          0|
|      1043|       JAMES MADISON|james.madison@exa...|           2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|COMPLETED|              05|                  No|        Gold|          0|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|           NULL|1150.00|     USD|     New York|    5 Finance St, NY|     P164|DELIVERED|            NULL|                 Yes|    Platinum|          1|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|           2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|  PENDING|              05|                 Yes|    Platinum|          0|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|           NULL| 660.00|     USD|      Chicago|        7 War St, IL|     P166| REFUNDED|            NULL|                 Yes|    Platinum|          0|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|           2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|COMPLETED|              05|                 Yes|    Platinum|          0|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|           NULL| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|  PENDING|            NULL|                  No|        Gold|          0|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|           2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|DELIVERED|              05|                 Yes|    Platinum|          1|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+

In [87]:
df_cleaned.printSchema()

root
 |-- CustomerID: integer (nullable = false)
 |-- Name: string (nullable = false)
 |-- Email: string (nullable = false)
 |-- TransactioNdate: string (nullable = true)
 |-- Amount: decimal(10,2) (nullable = true)
 |-- Currency: string (nullable = false)
 |-- Location: string (nullable = false)
 |-- Address: string (nullable = false)
 |-- ProductID: string (nullable = false)
 |-- Remarks: string (nullable = false)
 |-- TransactionMonth: string (nullable = true)
 |-- HighValueTransaction: string (nullable = false)
 |-- CustomerTier: string (nullable = false)
 |-- IsDelivered: integer (nullable = false)

In [47]:
spark.sql('''

CREATE EXTERNAL TABLE customers_transaction_stg_tbl (
    CustomerID INT,
    Name STRING,
    Email STRING,
    TransactionDate STRING,
    Amount DECIMAL(10,2),
    Currency STRING,
    Location STRING,
    Address STRING,
    ProductID STRING,
    Remarks STRING,
    TransactionMonth STRING,
    HighValueTransaction STRING,
    CustomerTier STRING,
    IsDelivered INT
)
STORED AS PARQUET
LOCATION 'hdfs://localhost:9000/stg_tbls/';
''')

# Save DataFrame to Hive table

df_cleaned.write.mode("overwrite").format("parquet").save("hdfs://localhost:9000/stg_tbls/")

# Print confirmation
print("Data successfully loaded into the staging table: customers_transaction_stg_tbl")

Data successfully loaded into the staging table: customers_transaction_stg_tbl

In [48]:
spark.sql("SELECT COUNT(*) FROM customers_transaction_stg_tbl").show()

+--------+
|count(1)|
+--------+
|      50|
+--------+

In [118]:
df_stg = spark.sql("SELECT * FROM customers_transaction_stg_tbl")

df_stg.show(50)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|CustomerID|                Name|               Email|TransactionDate| Amount|Currency|     Location|             Address|ProductID|  Remarks|TransactionMonth|HighValueTransaction|CustomerTier|IsDelivered|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|      1001|            JOHN DOE|    john.doe@xyz.com|           2023| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|  PENDING|              04|                  No|      Silver|          0|
|      1002|            JANE DOE|    jane.doe@xyz.com|           2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|              04|                  No|      Bronze|          1|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|           2023|   0.00|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|  PENDING|              04|                  No|      Bronze|          0|
|      1004|        MARY JOHNSON|         tcs@xyz.com|           2023| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123| REFUNDED|              04|                  No|        Gold|          0|
|      1002|            JANE DOE|    jane.doe@xyz.com|           2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|              04|                  No|      Bronze|          1|
|      1005|               ALICE|alice.williams@xy...|           2023| 300.25|     USD|       Boston|         404 5th Ave|     P000|  PENDING|              04|                  No|        Gold|          0|
|      1006|                1001|        mike@xyz.com|           2023|   0.00|     USD|       Dallas|    900 Highland, TX|     P127|  PENDING|              04|                  No|      Bronze|          0|
|      1007|           DAVID, JR|     davidjr@xyz.com|           2023|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|COMPLETED|              04|                  No|      Bronze|          0|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|           2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|COMPLETED|              04|                  No|      Bronze|          0|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|           2023| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|  PENDING|              04|                  No|      Silver|          0|
|      1010|          MARK TWAIN|mark.twain@exampl...|           2023| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|COMPLETED|              04|                  No|      Silver|          0|
|      1011|      SAMANTHA GREEN|sam.green@example...|           2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|DELIVERED|              04|                  No|        Gold|          1|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|           2023| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|  PENDING|              04|                  No|        Gold|          0|
|      1013|            EVA CHEN|eva.chen@example.com|           2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134| REFUNDED|              04|                  No|        Gold|          0|
|      1014|          LARRY PAGE|larry.page@exampl...|           2023| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|COMPLETED|              04|                 Yes|    Platinum|          0|
|      1015|     SERENA WILLIAMS|serena.williams@e...|           2023| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|DELIVERED|              04|                 Yes|    Platinum|          1|
|      1016|           ELON MUSK|elon.musk@example...|           2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|  PENDING|              04|                 Yes|    Platinum|          0|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|           2023|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|COMPLETED|              04|                  No|      Bronze|          0|
|      1018|        GRACE HOPPER|grace.hopper@exam...|           2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|DELIVERED|              04|                  No|      Silver|          1|
|      1019|         ALAN TURING|alan.turing@examp...|           2023|   0.00|     USD|   Manchester| 23 Computing St, UK|     P140|  PENDING|              04|                  No|      Bronze|          0|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|           2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141| REFUNDED|              04|                  No|        Gold|          0|
|      1021|         MARIE CURIE|marie.curie@examp...|           2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|COMPLETED|              04|                  No|        Gold|          0|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|           2023| 675.25|     USD|       London|   34 Gravity St, UK|     P143|  PENDING|              04|                 Yes|    Platinum|          0|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|           2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|DELIVERED|              04|                  No|    Platinum|          1|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|           2023| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|  PENDING|              04|                  No|        Gold|          0|
|      1025|           ARISTOTLE|aristotle@example...|           2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146| REFUNDED|              04|                  No|        Gold|          0|
|      1026|            SOCRATES|socrates@example.com|           2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|              04|                  No|      Bronze|          0|
|      1027|               PLATO|   plato@example.com|           2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|  PENDING|              04|                  No|        Gold|          0|
|      1028|           CONFUCIUS|confucius@example...|           2023| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|COMPLETED|              04|                  No|      Silver|          0|
|      1029|            SOCRATES|socrates@example.com|           2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|              04|                  No|      Bronze|          0|
|      1030|             SUN TZU| sun.tzu@example.com|           2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|DELIVERED|              04|                  No|        Gold|          1|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|           2023| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|COMPLETED|              04|                  No|      Silver|          0|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|           2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152| RETURNED|              04|                  No|      Bronze|          0|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|           2023| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|DELIVERED|              04|                  No|        Gold|          1|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|           2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|  PENDING|              04|                 Yes|    Platinum|          0|
|      1035|       MOTHER TERESA|mother.teresa@exa...|           2023|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|COMPLETED|              04|                  No|      Bronze|          0|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|           2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156| REFUNDED|              04|                  No|        Gold|          0|
|      1037|   WINSTON CHURCHILL|winston.churchill...|           2023|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|  PENDING|              04|                  No|      Bronze|          0|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|           2023| 350.00|     USD|     New York|15 Presidential R...|     P158|COMPLETED|              04|                  No|        Gold|          0|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|           2023| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|DELIVERED|              04|                  No|        Gold|          1|
|      1040|   GEORGE WASHINGTON|george.washington...|           2023|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|COMPLETED|              05|                 Yes|    Platinum|          0|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|           2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161| RETURNED|              01|                 Yes|    Platinum|          0|
|      1042|          JOHN ADAMS|john.adams@exampl...|           2023| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|  PENDING|              05|                 Yes|    Platinum|          0|
|      1043|       JAMES MADISON|james.madison@exa...|           2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|COMPLETED|              01|                  No|        Gold|          0|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|           2023|1150.00|     USD|     New York|    5 Finance St, NY|     P164|DELIVERED|              05|                 Yes|    Platinum|          1|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|           2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|  PENDING|              02|                 Yes|    Platinum|          0|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|           2023| 660.00|     USD|      Chicago|        7 War St, IL|     P166| REFUNDED|              05|                 Yes|    Platinum|          0|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|           2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|COMPLETED|              02|                 Yes|    Platinum|          0|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|           2023| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|  PENDING|              05|                  No|        Gold|          0|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|           2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|DELIVERED|              03|                 Yes|    Platinum|          1|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+

In [89]:
from pyspark.sql.functions import col, when, sum

# Run the null check
null_summary = df_stg.select([
    sum(when(col(c).isNull(), 1).otherwise(0)).alias(c + "_nulls") 
    for c in ["CustomerID", "Email", "TransactionDate", "Amount", "ProductID", "Remarks"]
])

# Collect the single row into a dictionary-like object
result = null_summary.collect()[0].asDict()

# Print only if nulls are found
nulls_found = {k: v for k, v in result.items() if v > 0}

if nulls_found:
    print("Nulls found in the following columns:")
    for k, v in nulls_found.items():
        print(f"{k}: {v}")
else:
    print("No nulls found in the selected columns.")

No nulls found in the selected columns.

In [90]:
from pyspark.sql.functions import regexp_extract, col

# Validate emails using regex
df_cleaned = df_stg.withColumn(
    "email_valid", regexp_extract(col("Email"), r"^[\w\.-]+@[\w\.-]+\.\w+$", 0)
)

# Filter out invalid ones
invalid_emails = df_cleaned.filter(col("email_valid") == "").select("Email")

# Show the invalid emails if any exist
if invalid_emails.count() > 0:
    print("Invalid email addresses found:")
    invalid_emails.show()
else:
    print("All email addresses are valid.")

All email addresses are valid.

In [92]:
from pyspark.sql.functions import col

valid_remarks = ["REFUNDED", "RETURNED", "DELIVERED", "COMPLETED", "PENDING"]

# Filter for unexpected remarks
invalid_remarks = df_stg.filter(~col("Remarks").isin(valid_remarks)).select("Remarks").distinct()

# Display results if any invalid values found
if invalid_remarks.count() > 0:
    print("Invalid 'Remarks' values found:")
    invalid_remarks.show()
else:
    print("All values in 'Remarks' column are valid.")

All values in 'Remarks' column are valid.

In [121]:
from pyspark.sql.functions import col

# Group by relevant fields and count duplicates
duplicates = df_stg.groupBy("CustomerID", "TransactionDate", "ProductID") \
    .count().filter("count > 1")

# Print result only if duplicates exist
if duplicates.count() > 0:
    print("Duplicate transactions found based on CustomerID, TransactionDate, and ProductID:")
    duplicates.show()
else:
    print("No duplicate transactions detected.")

No duplicate transactions detected.

In [120]:
df_stg = df_stg.dropDuplicates(["CustomerID", "TransactionDate", "ProductID"])

In [96]:
from pyspark.sql.functions import col

# Filter for invalid Amount values
invalid_amounts = df_stg.filter((col("Amount") < 0) | (col("Amount") > 10000)).select("Amount")

# Check and print result
if invalid_amounts.count() > 0:
    print("Invalid Amount values found (less than 0 or greater than 10,000):")
    invalid_amounts.show()
else:
    print("All Amount values are within the valid range.")

All Amount values are within the valid range.

In [97]:
df_stg.show(50)

+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|CustomerID|                Name|               Email|TransactionDate| Amount|Currency|     Location|             Address|ProductID|  Remarks|TransactionMonth|HighValueTransaction|CustomerTier|IsDelivered|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+
|      1001|            JOHN DOE|    john.doe@xyz.com|           2023| 120.50|     USD|     New York| 123 Baker St,NY,USA|     P123|  PENDING|              04|                  No|      Silver|          0|
|      1002|            JANE DOE|    jane.doe@xyz.com|           2023|  98.60|     USD|       Boston|  456 Elm Street, MA|     P124|DELIVERED|              04|                  No|      Bronze|          1|
|      1003|        ROBERT SMITH|   rob.smith@xyz.com|           2023|   0.00|     USD|  Los Angeles|  789 Sunset Blvd,CA|     P125|  PENDING|              04|                  No|      Bronze|          0|
|      1004|        MARY JOHNSON|         tcs@xyz.com|           2023| 205.00|     USD|      Chicago|   321 Pine, IL, USA|     P123| REFUNDED|              04|                  No|        Gold|          0|
|      1005|               ALICE|alice.williams@xy...|           2023| 300.25|     USD|       Boston|         404 5th Ave|     P000|  PENDING|              04|                  No|        Gold|          0|
|      1006|                1001|        mike@xyz.com|           2023|   0.00|     USD|       Dallas|    900 Highland, TX|     P127|  PENDING|              04|                  No|      Bronze|          0|
|      1007|           DAVID, JR|     davidjr@xyz.com|           2023|  85.99|     USD|San Francisco|     12 Mission Blvd|     P128|COMPLETED|              04|                  No|      Bronze|          0|
|      1008|           ANA MARÍA|   ana.maria@xyz.com|           2023|  99.99|     EUR|       Madrid|    Calle 12, Madrid|     P129|COMPLETED|              04|                  No|      Bronze|          0|
|      1009|          LÉA DUBOIS|  lea.dubois@xyz.com|           2023| 112.10|     EUR|        Paris| 45 Rue Saint, Paris|     P130|  PENDING|              04|                  No|      Silver|          0|
|      1010|          MARK TWAIN|mark.twain@exampl...|           2023| 150.00|     USD|    San Diego|    789 Ocean Dr, CA|     P131|COMPLETED|              04|                  No|      Silver|          0|
|      1011|      SAMANTHA GREEN|sam.green@example...|           2023| 250.75|     USD|      Seattle|     101 Pine St, WA|     P132|DELIVERED|              04|                  No|        Gold|          1|
|      1012|     THOMAS ANDERSON|thomas.anderson@e...|           2023| 330.50|     USD|      Chicago|   202 Maple Ave, IL|     P133|  PENDING|              04|                  No|        Gold|          0|
|      1013|            EVA CHEN|eva.chen@example.com|           2023| 499.99|     USD|  Los Angeles|303 Hollywood Blv...|     P134| REFUNDED|              04|                  No|        Gold|          0|
|      1014|          LARRY PAGE|larry.page@exampl...|           2023| 800.00|     USD|Mountain View|    1 Google Way, CA|     P135|COMPLETED|              04|                 Yes|    Platinum|          0|
|      1015|     SERENA WILLIAMS|serena.williams@e...|           2023| 600.50|     USD|  Los Angeles|    11 Sports Dr, CA|     P136|DELIVERED|              04|                 Yes|    Platinum|          1|
|      1016|           ELON MUSK|elon.musk@example...|           2023| 999.99|     USD|    Palo Alto|   100 SpaceX Rd, CA|     P137|  PENDING|              04|                 Yes|    Platinum|          0|
|      1017|        ADA LOVELACE|ada.lovelace@exam...|           2023|  75.00|     USD|       London| 15 Algorithm Ln, UK|     P138|COMPLETED|              04|                  No|      Bronze|          0|
|      1018|        GRACE HOPPER|grace.hopper@exam...|           2023| 120.00|     USD|    Arlington|      45 Navy Rd, VA|     P139|DELIVERED|              04|                  No|      Silver|          1|
|      1019|         ALAN TURING|alan.turing@examp...|           2023|   0.00|     USD|   Manchester| 23 Computing St, UK|     P140|  PENDING|              04|                  No|      Bronze|          0|
|      1020|        NIKOLA TESLA|nikola.tesla@exam...|           2023| 450.00|     USD|     New York| 67 Electric Ave, NY|     P141| REFUNDED|              04|                  No|        Gold|          0|
|      1021|         MARIE CURIE|marie.curie@examp...|           2023| 350.00|     USD|        Paris|89 Science Rd, Fr...|     P142|COMPLETED|              04|                  No|        Gold|          0|
|      1022|        ISAAC NEWTON|isaac.newton@exam...|           2023| 675.25|     USD|       London|   34 Gravity St, UK|     P143|  PENDING|              04|                 Yes|    Platinum|          0|
|      1023|     STEPHEN HAWKING|stephen.hawking@e...|           2023| 500.00|     USD|    Cambridge|77 Universe Blvd, UK|     P144|DELIVERED|              04|                  No|    Platinum|          1|
|      1024|     GALILEO GALILEI|galileo.galilei@e...|           2023| 300.00|     USD|         Pisa|12 Telescope Ln, ...|     P145|  PENDING|              04|                  No|        Gold|          0|
|      1025|           ARISTOTLE|aristotle@example...|           2023| 200.50|     USD|       Athens|101 Philosophy Sq...|     P146| REFUNDED|              04|                  No|        Gold|          0|
|      1026|            SOCRATES|socrates@example.com|           2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|              04|                  No|      Bronze|          0|
|      1027|               PLATO|   plato@example.com|           2023| 400.99|     USD|       Athens|303 Academy Rd, G...|     P148|  PENDING|              04|                  No|        Gold|          0|
|      1028|           CONFUCIUS|confucius@example...|           2023| 180.75|     USD|      Beijing| 9 Wisdom Way, China|     P149|COMPLETED|              04|                  No|      Silver|          0|
|      1029|            SOCRATES|socrates@example.com|           2023|   0.00|     USD|       Athens|   202 Agora, Greece|     P147|COMPLETED|              04|                  No|      Bronze|          0|
|      1030|             SUN TZU| sun.tzu@example.com|           2023| 220.00|     USD|      Beijing|66 Strategy St, C...|     P150|DELIVERED|              04|                  No|        Gold|          1|
|      1031|      MAHATMA GANDHI|mahatma.gandhi@ex...|           2023| 150.00|     USD|    New Delhi|  77 Peace Rd, India|     P151|COMPLETED|              04|                  No|      Silver|          0|
|      1032|      BENAZIR BHUTTO|benazir.bhutto@ex...|           2023|  80.50|     USD|      Karachi|88 Freedom Ln, Pa...|     P152| RETURNED|              04|                  No|      Bronze|          0|
|      1033|       INDIRA GANDHI|indira.gandhi@exa...|           2023| 220.30|     USD|    New Delhi|99 Leadership Dr,...|     P153|DELIVERED|              04|                  No|        Gold|          1|
|      1034|    JAWAHARLAL NEHRU|   nehru@example.com|           2023| 510.00|     USD|    Allahabad|100 Vision St, India|     P154|  PENDING|              04|                 Yes|    Platinum|          0|
|      1035|       MOTHER TERESA|mother.teresa@exa...|           2023|  75.75|     USD|      Kolkata|12 Compassion Rd,...|     P155|COMPLETED|              04|                  No|      Bronze|          0|
|      1036|       RONALD REAGAN|ronald.reagan@exa...|           2023| 430.00|     USD|  Los Angeles|13 Hollywood Blvd...|     P156| REFUNDED|              04|                  No|        Gold|          0|
|      1037|   WINSTON CHURCHILL|winston.churchill...|           2023|  95.50|     USD|       London|   14 Victory Ln, UK|     P157|  PENDING|              04|                  No|      Bronze|          0|
|      1038|  FRANKLIN ROOSEVELT|franklin.roosevel...|           2023| 350.00|     USD|     New York|15 Presidential R...|     P158|COMPLETED|              04|                  No|        Gold|          0|
|      1039|   BENJAMIN FRANKLIN|ben.franklin@exam...|           2023| 270.00|     USD| Philadelphia|   16 Liberty St, PA|     P159|DELIVERED|              04|                  No|        Gold|          1|
|      1040|   GEORGE WASHINGTON|george.washington...|           2023|1000.00|     USD| Mount Vernon|1 Independence Ha...|     P160|COMPLETED|              05|                 Yes|    Platinum|          0|
|      1041|    THOMAS JEFFERSON|thomas.jefferson@...|           2023| 850.00|     USD|   Washington|2 Democracy Blvd, DC|     P161| RETURNED|              01|                 Yes|    Platinum|          0|
|      1042|          JOHN ADAMS|john.adams@exampl...|           2023| 920.50|     USD|       Boston|    3 Freedom Rd, MA|     P162|  PENDING|              05|                 Yes|    Platinum|          0|
|      1043|       JAMES MADISON|james.madison@exa...|           2023| 330.75|     USD|   Montpelier|4 Constitution Av...|     P163|COMPLETED|              01|                  No|        Gold|          0|
|      1044|  ALEXANDER HAMILTON|alex.hamilton@exa...|           2023|1150.00|     USD|     New York|    5 Finance St, NY|     P164|DELIVERED|              05|                 Yes|    Platinum|          1|
|      1045|      ANDREW JACKSON|andrew.jackson@ex...|           2023| 780.00|     USD| Jacksonville|   6 Southern Rd, FL|     P165|  PENDING|              02|                 Yes|    Platinum|          0|
|      1046|    ULYSSES S. GRANT|ulysses.grant@exa...|           2023| 660.00|     USD|      Chicago|        7 War St, IL|     P166| REFUNDED|              05|                 Yes|    Platinum|          0|
|      1047|  THEODORE ROOSEVELT|theodore.roosevel...|           2023| 540.00|     USD|     New York|8 Rough Rider Rd, NY|     P167|COMPLETED|              02|                 Yes|    Platinum|          0|
|      1048|      WOODROW WILSON|woodrow.wilson@ex...|           2023| 470.50|     USD|   Washington|9 Progressive Pl, DC|     P168|  PENDING|              05|                  No|        Gold|          0|
|      1049|FRANKLIN D. ROOSE...|franklin.d.roosev...|           2023| 630.00|     USD|    Hyde Park|10 Courthouse Rd, NY|     P169|DELIVERED|              03|                 Yes|    Platinum|          1|
+----------+--------------------+--------------------+---------------+-------+--------+-------------+--------------------+---------+---------+----------------+--------------------+------------+-----------+

In [122]:
df_stg.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- Amount: decimal(10,2) (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- Remarks: string (nullable = true)
 |-- TransactionMonth: string (nullable = true)
 |-- HighValueTransaction: string (nullable = true)
 |-- CustomerTier: string (nullable = true)
 |-- IsDelivered: integer (nullable = true)

In [ ]:
try:
    df_stg.write \
        .jdbc(
            url="jdbc:postgresql://localhost:5433/postgres",
            table="customers_transaction",
            mode="append", 
            properties={
                "user": "postgres",
                "password": "SURI@walmt1999",
                "driver": "org.postgresql.Driver"
            }
        )
    print("Data written successfully to 'customers_transaction' table in 'customer' database.")
except Exception as e:
    print("Failed to write data:", str(e))

Failed to write data: An error occurred while calling o1287.jdbc.
: java.lang.ClassNotFoundException: org.postgresql.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:593)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:526)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [126]:
from importlib import util
print(util.find_spec("org.postgresql.Driver"))

ModuleNotFoundError: No module named 'org'